{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css '%}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Caos News</title>
</head>

<body>
    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra ">

                <a href="/indexAdmin/">
                    <h1>Caos<span>NEWS</span></h1>
                </a>
                <nav id ="nav" class ="navegacion">
                    <a href="/indexPeriodista/">Articulos</a>
                    <a href="/adminPeriodista/">Periodistas</a>
                    </nav>
                <a href="{% url 'login' %}">
                    <button type="submit" class="btn">{{user}} <span><i class="fas fa-user-times"></i></span></button>
                </a>
            </div>
        </div>
    </header>

    <main class ="contenedor centrar-txt">
        <div class="contenedor centrar-txt barra-pe">
            <h2><b>{{request.user.username}} </b></h2>
            <h1>Caos<span>NEWS</span></h1>
        </div>
        <div class="gest-not contenedor">
            <form method="GET">
                <div id="custom-search-imput">
                    <div class="imput-group col-md-12">
                        <span class="input-group-list"> 
                                <button type="submit" class="btn"><span><i class="fas fa-search"></i></span></button>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar..." id="name" name="nombre"></input>
                    </div>
                </div>
            </form>
            <hr/>
            <div = "row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for periodista in queryset %}
                        <tr>
                            <td>{{periodista.nombre}}</td>
                            <td>{{periodista.email}}</td>
                            <td>{{periodista.contraseña}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--<ul>
                    {% for periodista in queryset %}
                        <li>
                            {{periodista.nombre}}
                            <span>email: {{periodista.email}}</span>
                        </li>
                        <hr/>
                    {% endfor %}
                </ul>-->
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="contenedor">
            <div class="barra">
                <a href="/index/">
                    <h1>Caos<span>NEWS</span></h1>
                </a>
                <p>CopyRight <i>&copy;</i>2020</p>
            </div>
        </div>

    </footer>




    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>